$primary-pink : hsl(322, 100%, 66%);
$secondary-violet : hsl(265, 100%, 66%);

$light-greyish-blue :hsl(214, 64%, 98%);
$mid-greyish-blue : hsl(208, 11%, 55%);
$very-dark-cyan : hsl(192, 100%, 9%);


$list-style:none;
