.navigation{
  
  display: flex;
  justify-content:space-between;
  padding: 3.5rem;
  
  
  &__logo-box{
    z-index: 999;
  }

  &__logo{
    height: 2.25rem;
    margin-left: 3.5rem;
      
  }

    
}