
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.2%;
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-size: cover;
    max-width: cover;

    &::before{
        content: "";
        display: inline-block;
        float: right;
        shape-outside: polygon(50% 0, 100% 100%, 0 100% );
        clip-path: polygon(50% 0, 100% 100%, 0 100%);
        background: linear-gradient(to bottom right, $primary-pink,$secondary-violet);
        height: 55rem;
        width: 112rem;
        border-radius: 63px;
        position: absolute;
        bottom: 31%;
        left: 45%;
        transform: rotate(45deg);
        z-index: 999;
       
      
    }
}

.container{
    display: flex;
    flex-direction: column;
    background-color: hsl(214, 64%, 98%);
    max-width:cover;
    min-height: 100vh;
}